{{!
****

Citations:
    
Leveraged starter code from Web Application Technology Canvas exploration
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948

Citation for use of AI Tools:
Date: 5/21/2025
Summary of prompts used:
"Within main.hbs, I want to add a button to the header that when clicked makes a request to the server that results in the DB 
being reset, which is the code I currently have highlighted. Do I have to do this within a form element in order for it to work
or can I leverage another method?”
AI Source URL: https://chat.openai.com/

****
}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Our Customers</a>
        <a href="/suppliers">Our Suppliers</a>
        <a href="/loyalty-tiers">Loyalty Tiers</a>
        <a href="/products">Product Catalog</a>
        <a href="/cust-orders">Customer Orders</a>
        <a href="/purch-orders">Purchase Orders</a>
        <a href="/prod-purchases">Product Purchases</a>
        <button onclick="location.href='/reset-db'">RESET DB</button>
    </nav>

    {{{body}}}

</body>
</html>