{{!
****

Citations:
    
Leveraged starter code from Web Application Technology Canvas exploration
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948

****
}}

<h1>Home page</h1>
<div class="homepageDescription">
    <h2>Equal Steakholders DBMS (beta)</h2>
    <p>Group 105: Julio Diaz III and Praj Iyer</p>
</div>